.Container{
    border: 1px solid rgb(1, 74, 1);
    background-image:url("background.jpg");
}
.Top{
    background-color:#AED6F1 ;
}
.heading{
    height:85px;
    background-color:#3498DB;
    color: white;
    text-align: center;
    border:transparent;
}
.heading p, .heading h3{
    font-size:larger;
    font-weight: bold;
}
.common{
    border: 1px solid rgb(1, 74, 1);
    width: 50%;
    margin:1%;
    margin-top:  0.5%;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.17);
}
.personalDetails{
    border: 1px solid rgb(1, 74, 1);
    margin-left:15%;
    margin-top:  0.5%;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.17);
    width:70%;
}
.personalDetails label{
    display: block;
    width:182px;
}
.badge {
    border: 1px solid green;
    border-radius: 5px 5px 25px;
    text-align: center;
    font-size: larger;
    margin:10px;
    width:400px;
    height:30px;
    padding: 2px;
    background-color:#3498DB;
    color: white;
}
.badges{
    border: 1px solid blue;
    text-align: center;
    font-size: larger;
    margin-top:10px;
    height:30px;
    padding: 2px;
    background-color:#3498DB;
    color: white;
}
.form-group{
    margin: 2%;
    display: flex;
}
.form-group input {
    border: 1px solid #2874A6 ;
    border-radius: 15px 15px 15px;
    height: 25px;
    width:300px;
    text-align:center;
}
.form-group select{
    border: 1px solid #2874A6 ;
    border-radius: 15px 15px 15px;
    height: 25px;
    width:150px;
}
#Gender, #job, #y{
    width:20px !important;
    height: 12px !important
}
.gender, .jobType{
    display: flex;
}
.gender label{
    display: block;
    width:140px;
}
label{
    display: block ;
    width:170px;
    font-size:20px;
}
.Training{
    display: flex;
    margin-left:10%;
}
.Training label{
        display: block ;
        width:250px;
}
.Training input{
    width:250px;
}
.Both{
    display: flex;
}
.below-table{
    display: flex;
}
.below-table p{
    margin-top: 0%;
    margin-right:20px;
}
.sector{
    height:300px;
    width:30%;
    margin:2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.sector input {
    height:230px;
    width:400px;
    margin-left:18px;
    background: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
  }
.last{
    border:0.5px solid beige;
    border-radius: 16px;
    height:300px;
    width:50%;
    margin-left:30%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#btnsubmit{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: aliceblue;
    background-color: #5DADE2;
    width: 100px;
    height: 30px;
    border-radius: 15px 15px 15px;
    cursor: pointer;
}
.previousE{
    height:400px;
    width:80%;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    margin-left:10%;
}
.row{
    display: flex;
    flex-direction: row;
}
.row input{
    width:250px;
}
.row label{
    display: block;
    width:150px;
}
.Design{
    display: flex;
    flex-direction: row;
}
.Photo{
    padding:3%;
    border:5px solid white;
    border-radius:15px;
    width:120px;
    height:40px;
    margin-left:80%;
    top:12%;
    cursor:pointer;
    position:absolute;
}
.buttonn{
margin-left: 40%;
}

@media only screen and (max-width: 500px) {
    .Container {
        display: block;
    }
    .Both{
        display: block;
        width: 100%;
    }
    .common{
        width:100%;
    }
    .Photo{
        margin-left: 10px;
    }
    label{
        display: block !important;
        width:150px !important;
    }
    input{
        width: 150px  !important;
    }
    .row{
        display: block;
    }
    .last{
        width:300px;
        margin-left:55px;
    }
    .last .badge{
        width:200px;
    }
    .Design .badge{
        height: fit-content;
    }
    .sector{
        height:300px;
        width:80%;
    }
    .sector input{
        height:230px !important;
        width:300px !important;
    }
    .previousE{
        margin-left:45px;
    }
}
@media only screen and (min-width: 500px)and (max-width:700px){
    .Container {
        display: block;
    }
    .Both{
        display: block;
        width: 100%;
    }
    .common{
        width:100%;
    }
    .Photo{
        margin-left: 10px;
        width:fit-content;
    }
    label{
        display: block !important;
        width:200px !important;
    }
    input{
        width: 200px  !important;
    }
    .row{
        display: block;
    }
    .last{
        width:300px;
        margin-left:55px;
    }
    .last .badge{
        width:200px;
    }
    .Design .badge{
        height: fit-content;
    }
    .sector{
        height:300px;
        width:80%;
    }
    .sector input{
        height:230px !important;
        width:350px !important;
    }
    .previousE{
        margin-left:45px;
    }
}

@media only screen and (min-width: 700px)and (max-width:800px){
    .Both{
        display: block;
    }
    #first{
        display: flex;
    }
    .common{
        width:50%;
    }
    .Photo{
        margin-left: 10px;
        width:fit-content;
    }
    label{
        display: block !important;
        width:150px !important;
    }
    input{
        width: 150px  !important;
    }
    .row{
        display: block;
    }
    .last{
        width:300px;
        margin-left:55px;
    }
    .last .badge{
        width:200px;
    }
    .Design .badge{
        height: fit-content;
    }
    .sector{
        height:300px;
        width:80%;
    }
    .sector input{
        height:230px !important;
        width:350px !important;
    }
    .previousE{
        margin-left:45px;
    }
}
