.container{
/* background-color: rgb(130, 130, 245); */
background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
margin-bottom: 20px;
height: 10vh;
align-items: center;
padding-top: 20px;
display: block;

}

.Nav .down{
    /* background-color: black; */
    /* background: violet;
    width: 100%;
    height: 100vh; */
}

.nav{
margin: 10px;
color: black;
font-size: 20px;

}